# Игнорировать все файлы и папки, кроме тех, что необходимы для сборки контейнера
**/pycache/
**/.pyc
**/.pyo
*.log
*.env

# Игнорировать папки IDE и редакторов
.vscode/
.idea/
*.iml

# Игнорировать папки с данными
images/
data/
logs/

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db